{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R?1[4567]"}.

{deps, [
        {escalus, "2\.4\..*", {git, "git://github.com/esl/escalus.git", {branch, "external-auth"}}},
        {exml, "2\.1\..*", {git, "git://github.com/esl/exml.git", {tag, "2.1.3"}}},
        {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "3c7fdee"}},
        {mustache, ".*", {git, "git://github.com/mojombo/mustache.erl.git", {branch, "master"}}},
        {fake_auth_server, ".*", {git, "https://gitlab.erlang-solutions.com/simon.zelazny/fake-auth-server.git", {branch, "master"}}},
        {proper, "1\.1", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}}
]}.
